@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 30 100% 95.1%;
    --foreground: 20 14.3% 4.1%;
    --card: 30 100% 98%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 30 100% 98%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 30 100% 60%; /* #FF9933 */
    --primary-foreground: 20 14.3% 4.1%;
    --secondary: 30 50% 90%;
    --secondary-foreground: 20 14.3% 4.1%;
    --muted: 30 50% 90%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 35 100% 70%; /* #FFC266 */
    --accent-foreground: 20 14.3% 4.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 30 50% 85%;
    --input: 30 50% 85%;
    --ring: 30 100% 60%;
    --radius: 0.8rem;
  }
 
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 98%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 0 0% 98%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 0 0% 98%;
    --primary: 30 100% 60%;
    --primary-foreground: 20 14.3% 4.1%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 35 100% 70%;
    --accent-foreground: 20 14.3% 4.1%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 30 100% 60%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
